<div class="fixed-action-btn">
    <a title="Add New Article" href="/stories/add" class="btn-floating btn-medium card hover-green waves-effect waves-light red"><i class="fas fa-plus add-btn"></i></a>
</div>