<h3><i class="fas fa-book-reader"></i> StoryBooks</h3>
<div class="section">
    <p class="lead">
        Join the community of story tellers.
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <form action="/auth/local" method="post">
        <span style="display: none;">Error message here</span>
        <div class="section">
            <input type="text" id="username" name="username" class="width-70p" placeholder="Email or Username">
        </div>
        <div class="section">
            <input type="password" id="password" class="width-70p" name="password" placeholder="Password">
        </div>
        <a href="#" class="lead red-text darken-1">Forget password?</a>
        <div class="section">
            <button type="submit" class="btn rounded-4 width-70p btn-blck green darken-1">Login</button>
        </div>
    </form>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/signup" class="btn yellow rounded-4 width-70p darken-3">Create New Account</a>
</div>
<div class="section">
    <a href="/dashboard/5fa1e212373b682eb05a077c" class="btn width-70p rounded-4 red darken-1"><i class="fab fa-google left"></i> Log In With Google</a>
</div>
<script>
    //i changed from /auth/google
</script>