body {
    background: rgb(66, 66, 66) !important;
    color: #fff !important;
}

.card {
    background: rgb(66, 66, 66) !important;
}

input, textarea {
    color: #fff !important;
}

a {
    color: inherit;
    text-decoration: none !important;
}

a:hover {
    color: rgb(131, 142, 206);
}

ul.inline li {
    display: inline;
}

.capitalize {
    text-transform: capitalize !important;
}

.gray {
    background: gray !important;
}

.inline {
    display: inline-block !important;
}

@media (max-width: 401px) {
    .login-container {
        width: 100%;
        margin-top: 20px;
        text-align: center !important;
    }

    h3 {
        font-size: 26px;
    }
}

@media (min-width: 399px) {
    #fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
    }
    
    #main {
        margin-top: 90px;
    }
}



p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px !important;
    margin-top: 50px !important;
    text-align: center !important;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float-left {
    float: left !important;
    -webkit-float: left !important;
    -moz-float: left !important;
    -o-float: left !important;
    margin-right: 10px;
    clear: none;
}

.img-very-small {
    float: left;
    width: 40px !important;
    height: 40px !important;
}

.width-20p {width: 20% !important; }
.width-30p {width: 30% !important; }
.width-40p {width: 40% !important; }
.width-50p {width: 50% !important; }
.width-60p {width: 60% !important; }
.width-70p {width: 70% !important; }
.width-80p {width: 80% !important; }
.width-90p {width: 90% !important; }

.rounded-4 { border-radius: 4px !important; }
.rounded-8 { border-radius: 8px !important; }
.rounded-12 { border-radius: 12px !important; }
.rounded-16 { border-radius: 16px !important; }

.bordered { border: 1px solid gray; }

.bordered-bottom-grey { border-bottom: 2px solid gray; }

.card-content .span:nth-child(1) {
    font-size: 2em;
    padding: 15;
    margin: 15;
    font-weight: bold;
}

.card-content .span:nth-child(2) {
    font-size: 1.2em;
    margin: 15px;
    margin-top: -25px;
    font-weight: bold;
}

.no-padding {
    padding: 0 !important;
}

.padding-1 { padding: 1px 4px; }
.padding-2 { padding: 2px 4px; }
.padding-4 { padding: 4px 8px; }
.padding-6 { padding: 6px 12px; }
.padding-8 { padding: 8px 16px; }
.padding-10 { padding: 10px 18px; }
.padding-20 { padding: 20px 30px; }

.margin-2 { margin: 2px 4px; }
.margin-4 { margin: 4px 8px; }
.margin-6 { margin: 6px 12px; }
.margin-8 { margin: 8px 16px; }
.margin-10 { margin: 10px 18px; }
.margin-20 { margin: 20px 30px; }

section.navbar {
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(119, 100, 89);
}

section .site-logo {
    border: 4px solid rgb(219, 192, 192);
    display: inline-block;
    font-size: 2em;
    margin: auto;
    color: #fff;
    font-weight: bolder;
    letter-spacing: .8em;
    margin-bottom: 10px;
}

section ul li {
    text-transform: capitalize;
    text-align: left;
}

section div ul.nav-on-big li {
    display: inline;
    margin-right: 10px;
    text-transform: uppercase;
}

section div ul.nav-on-big li a:hover {
    color: white;
}

section div ul.nav-on-big li a{
    color: grey;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1em;
    transition: all 1s;
}

.sidenav-trigger {
    float: left;
    font-size: 1.5em;
    color: #fff;
    margin-top: -100px;
}

ul.sidenav > a div {
    color: gray;
    border: none;
    margin-top: 10px;
}

.middle-layer {
    color: rgba(255, 255, 255, .8);
}

.headline {
    padding: 5px;
}

h5.most-read {
    border-bottom: 2px solid rgb(119, 100, 89);
    padding: 10px;
}

h5.latest {
    border: 2px solid rgb(119, 100, 89);
    padding: 10px;
}

.headline-main {
    font-size: 1.2em;
    font-weight: bold;
}

.headline-side {
    font-size: .8em;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px ;
    border-bottom: gray dotted .5px;
    border-radius: 5%;
}

.summary {
    font-famiy: cursive;
    font-style: italic;
}

.container-local {
    width: 98% !important;
    margin: 1%;
}

.card-local {
    background: rgb(100, 99, 99) !important;
    color: white;
    padding: 0!important;
}

.profile small.small {
    padding: 4px 6px;
    background: gray;
    color: blanchedalmond;
    border-radius: 4px;
    margin-bottom: 5px;
}

.profile small {
    display: inline-block;
}

.activities-tag  {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.activities-tag > div{
    background: gray;
    border-radius: 5px;
    margin: 10px;
}

.activities-tag > div > span {
    display: block;
}

.activities-tag > div > span:nth-child(1) {
    font-size: 1.6em;
}

.activities-tag > div > span:nth-child(2) {
    font-size: .8em;
}

.top-tab ul {
    border-bottom: 1px solid gray;
    margin-top: 20px;
    padding: 6px;
}

.top-tab ul li {
    margin-right: 0;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: .8em;
    padding: 8px;
    cursor: pointer;
}

.top-tab ul li:hover {
    color: rgb(131, 142, 206);
}

.tab-header {
    transition: all .5s;
}

.left-tab-header,
.right-tab-header  {
    transition: all .5s;
    cursor: pointer;
}

.left-tab-header:hover,
.right-tab-header:hover  {
    background: gray;
    color: white;
}

.tab-header.active {
    border-bottom: 2px black solid;
    font-weight: bold;
}

.left-tab-header.active,
.right-tab-header.active {
    background: #fff;
    color: gray;
    font-weight: bold;
}

.content-header {
    position: relative;
    display: none;
    transition: all .5s;
}

.content-header.active {
    display: block;
}

.left-tab-content,
.right-tab-content {
    position: relative;
    display: none;
    transition: all 1s;
}


.left-tab-content.active,
.right-tab-content.active {
    display: block;
}

.fa-x-small {
    transform: scale(.6);
}

.fa-x-medium {
    transform: scale(.8);
}

.bold {
    font-weight: bold;
}

.gray-text {
    color: gray !important;
}

.reply-field {
    transform: scale(0); 
    display: none;
    transition: all 1s linear;
}

.show-reply-field {
    display: block;
    transform: scale(1);
}

.divider-gray {
    border: .1px dotted gray;
}

.all-replies {
    border-bottom: solid 1px gray;
    padding: 5px 0;
    margin-bottom: 5px;
}

.allreplies:last-child {
    border-bottom: 0;
}

.all-replies p {
    padding: 2px 20px;
}

.all-replies img {
    width: 25px;
    height: 25px;
    border-radius: 50% !important;
    float: left;
    margin-right: 5px;
}

.scale-down-8 {
    transform: scale(.8);
}

.add-btn {
    background: #fff;
    color: rgb(66, 66, 66) !important;
}

.ck-body {
    background:  rgb(66, 66, 66);
}

ol.cpanel {
    list-style: none !important;
    padding: 0;
}

ol.cpanel li.article-title {
    border: none!important;
    margin: 5px;
    padding: 3px 6px;
    background: gray;
    color: #fff;
}

.hide-btn {
    display: none !important;
}

