<div class="section">
    <div class="middle-layer row">
        <div class="col s12 m3">
            <div class="section">
                <h5 class="most-read">Most Read</h5>
                <a href="">
                    <h6 class="headline-side">
                    Age e firts most read news
                    </h6>
                </a>
                <a href="">
                    <h6 class="headline-side">
                     Everyone Hello there most read news
                    </h6>
                </a>
                <a href="">
                    <h6 class="headline-side">
                    Behoove Takes Over Cubana House in Abuja, Many to Attend The Grand Finalle
                    </h6>
                </a>
                <a href="">
                    <h6 class="headline-side">
                    Hhere everyone firts most read news
                    </h6>
                </a>
            </div>
        </div>

        <div class="col s12 m8">
            <div class="row">
                
                <div class="col s12 m6">
                    <div class="padding-8 section">
                        <a href="">
                            <h6 class="headline-main">
                                Official live of performance video of Ride On Sisters
                                at VGTV
                            </h6>
                        </a>

                        <p>This is how we can design a Blog Database to be used as the formation of Blog based websites
                            and mobile applications.</p>
                        <small>Azeez Monsur - 28 August 2002 - Polictics</small>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="padding-8 section">
                        <a href="">
                            <h6 class="headline-main">
                                Behoove Takes Over Cubana House in Abuja, Many to Attend The Grand Finalle
                            </h6>
                        </a>
                        <p>This is how we can design a Blog Database to be used as the formation of Blog based websites
                            and mobile applications.</p>
                        <small>Eveny Salt - 28 August 2002 - Crime</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m1"></div>
    </div>
</div>