<header>
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/newsletter">Newsletter</a></li>
        <li><a href="/vacation-photo">Vacation Photo</a></li>
        <li><a href="/tours/hood-river">River Hood</a></li>
    </ul>
    <div class="logo">
        <img src="/img/logo.jpg" alt="logo">
        <span>Meadowlark&trade;</span>
    </div>

</header>